body{
    background-color: teal;
    border:1px solid red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:navy;
    background-image: url(./food.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
