body{
    background-color:aquamarine;
}

    .navigation{
        background-color: white;
        overflow: hidden;
        
        
    }
    .navigation a{
        float: left;
        color: black;
        font-size: larger;
        padding: 14px 16px;
        text-align: center;
    }
    .dropdown{
        float: left;
        overflow: hidden;
    }
    .dropdown .dropbtn{
       font-size: 16px;
       padding: 14px 16px;
    }
    .dropcontent{
        position: absolute;
        min-width: 100px;
        text-align: center;
        background-color: chocolate;
        display:none;
        }
        .dropcontent a{
            display: block;
            text-align: center;
        }
        .dropcontent a:hover{
            background-color: goldenrod;
        }
    .dropdown:hover .dropcontent{
        display: block;
    }

    
    .navigation a:hover{
        background-color: mediumspringgreen;
    }
    .header{
        background-color: khaki;
        background-image: url(./res.jpg);
        background-size: cover;
        
        height: 600px;
        border: 10px solid gray;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:blue;
        top: 1000px;
    }
    .header h1{
        position: absolute;
        top: 250px;
        text-align: center;
        left: 450px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: lowercase;
        text-decoration:dotted;
        color: magenta;
    }

.row{
    position: absolute;
    color: deeppink;
    margin: 30px;
    top: 660px;
    left: 500px;
}
.column{
    display: flex;
    margin: 50px;
    text-align: center;
    width: 100px;
    gap: 50px;
}
.column:hover{
    transform: scale(1.1);
}
.column:hover, .food1{
    transform: scale(1.1);
}
.column, .food2:hover{
    transform: scale(1.1);
}
.column:hover, .food3{
    transform: scale(1.1);
}

.food1{
    top: 700px;
    left: 300px;
    color: olive;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    text-shadow:gold;
    height: 300px;
}
.food2{
    top: 700px;
    left: 400px;
    color: olive;
    height: 300px;
    font-size: larger;
    text-shadow:gold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .food3{
    top: 700px;
    left: 400px;
    color: olive;
    height: 300px;
    font-size: larger;
    text-shadow:gold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }



    

  .specials{
    color: brown;
    position: absolute;
    top: 1100px;
    left: 450px;
    margin: 50px;
    

  }
  .border{
    background-color:lightcoral;
    border: 5px solid gray;
    padding: 10px;
    margin: 20px;
    height: 500px;
    width: 1200px;
    left: 1200px;
    
    
    
  }
  .pastha{
    position: absolute;
    left: 900px;
    top: 1300px;
    bottom:100px;
    right: 2000px;
    text-align: center;
    height: 350px;
    width: 200px;
    color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
.pizza{
    position: absolute;
    left: 500px;
    top: 1300px;
    bottom:100px;
    right: 1400px;
    text-align: center;
    height: 350px;
    width: 200px;
    color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
.french{
    position: absolute;
    top: 1300px;
    left: 100px;
    bottom: 100px;
    text-align: center;
    height: 300px;
    width: 200px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.footer{
    position: absolute;
    top: 2000px;
    color: white;
    background-color: slategray;
    height: 300px;
    width: 1500px;
    
}
.next{
    position: absolute;
    top: 2000px;
    left: 300px;
    color: white;
}
.end{
    position: absolute;
    top: 2000px;
    left: 600px;
    color: white;
}
.icons{
    position: absolute;
    top: 2000px;
    left: 900px;
    color: white;
}
.map{
    width: 5000px;
    margin-left: 300px;
    margin-top: 30px;
    
    }
    .map h1{
        text-align:left;
        left: 800px;
    }
    .iframe{
        width: 200px;
        height: none;
        padding: 70px;
        margin-bottom: 30px;
        position: absolute;
        background-color: cadetblue;
    }


 
  

