header{
background-color: beige;
    border: 2px;
    padding: 20px 20px 20px 20px;
    }
body{

    border: 2px solid black;
    height: 300px;
    width:200px;
    margin: 25px 50px 75px 100px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    color:chocolate;
}
.yes{
text-shadow: 20px 20px 4px blue;
padding: 30px;

}
.no{
    text-shadow: 50px 50px 5px hotpink;
    padding:20px;
    
}
